*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;   
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 20px;
    color: white;
  
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
  }
.nav-links a:hover {
    text-decoration: underline;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #1f2937;
    color: white;
  }
  .hero-text {
    max-width: 50%;
    }  
  .hero button {
    padding: 10px 20px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
  }
  .hero-image {
    background: gray;
    color: white;
    padding: 50px;
    text-align: center;
  }  
  
